{% extends 'base.html' %}

{% block content %}
<div class="alert alert-primary">
  <h1 class="display-3">詳細画面</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
</div>
<input type="button" value="戻る" onclick="history.back()" >
<h1><span>WILL DOリストとは？</span></h1>
<hr class="my-1">
<p>
WILL DOリストとは、「必ずする」とコミットした仕事だけのクローズ・リスト。<br>
その日にすることを決めたら、それを終えるまで仕事を加えない。
</p>
<h2><span>WILL DOリストには、次の6種類の仕事が含まれる</span></h2>
{% endblock content %}
