{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary">
  <h1 class="display-5" style="text-align:center">詳細画面</h1>
</div>
<!-- <body class="text-center"></body> -->
{% endblock %}

{% block content %}
<div class='container'>
{% if request.user.is_superuser == True　%}
  <div class="alert alert-success" role="alert">
    <p>作成者：{{ request.user.id }}</p>
    <p>種類：{{ object.get_task_type_display }}</p>
    <p>優先度：{{ object.get_priority_display }}</p>
    <p>内容：{{ object.note }}</p>
    <p>期日：{{ object.date }}</p>
  </div>
{% elif request.user == object.create_user %}
  <div class="alert alert-warning" role="alert">
    <p>作成者：{{ request.user.id }}</p>
    <p>種類：{{ object.get_task_type_display }}</p>
    <p>優先度：{{ object.get_priority_display }}</p>
    <p>内容：{{ object.note }}</p>
    <p>期日：{{ object.date }}</p>
  </div>
{% else %}
  <div class="alert alert-danger" role="alert">
    <p>権限がありません</p>
  </div>
{% endif %}
  <input type="button" value="戻る" onclick="history.back()" >
</div>
{% endblock content %}
